<!-- payment_app/templates/payment_failed.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment Failed</title>
</head>
<style>
    body {
        background-image: url('https://png.pngtree.com/thumb_back/fh260/back_our/20190625/ourmid/pngtree-blue-mobile-phone-scan-code-payment-technology-banner-background-image_260854.jpg');
        background-size: 100% 100%; /* Cover the entire viewport */
        background-repeat: no-repeat;
        background-attachment: fixed; /* Keep the background fixed while scrolling */
    }
</style>

<body>

    <h1>Payment Failed</h1>
    <p>Your payment could not be processed. Please try again later.</p>
</body>
</html>
  <script>
      document.addEventListener("contextmenu", (event) => {
         event.preventDefault();
      });
   </script>