<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment Success</title>
    <style>
    body {
        background-image: url('https://png.pngtree.com/thumb_back/fh260/back_our/20190625/ourmid/pngtree-blue-mobile-phone-scan-code-payment-technology-banner-background-image_260854.jpg');
        background-size: 100% 100%; /* Cover the entire viewport */
        background-repeat: no-repeat;
        background-attachment: fixed; /* Keep the background fixed while scrolling */
    }
</style>

</head>
<body>
    <h1>Payment Successful</h1>
    <p>Your payment has been successfully processed.</p>
</body>
</html>
  <script>
      document.addEventListener("contextmenu", (event) => {
         event.preventDefault();
      });
   </script>
