{% extends 'adminhome.html' %}

{% block 'body'%}
<div class="card">
  <h2 class="flex justify-end text-white text-xl font-Sans px-3"> welcome, {{admin}}</h2>
    <input  class="bg-transparent  mx-96 px-56 text-center font-bold py-3 text-xl rounded-full placeholder:text-white placeholder:hover:text-blue-700" type="text" placeholder="        Change Password" disabled/>
    <center>
        <form method="post" action="" novalidate>  {% csrf_token %}

        </form>
    </center>
</div>
{% endblock %}
