{% load static%}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Astro {% block title %}  {% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
</head>
<body id="bg" style="background-image:url('{% static 'images/astro2.jpeg' %}');">
{% include 'navibar.html' %}

<div class="container mx-auto">
    <div class="col-md-8 md:col-md-6 lg:col-md-4 xl:col-md-3 mx-auto">
        {% block content %} {% endblock %}
    </div>
</div>

<script type="text/javascript">
      // Disable the browser's back and forward buttons
window.history.pushState(null, null, location.href);
window.onpopstate = function () {
    window.history.pushState(null, null, location.href);
};
   </script>
{% include 'endbar.html' %}
</body>
</html>