{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
<div class="flex justify-center items-center my-40">
<div class="text-white py-4 my-4 mx-auto max-w-sm bg-slate-900 shadow-lg rounded-lg px-5">
    <div class="px-3 py-4">
        <h3 class=" mx-12 font-bold text-lg mb-4">Contact Us</h3>
        <p class="flex items-center mb-2">
          <!-- Email Icon -->
          <i class="fas fa-envelope mr-2"></i><span class="font-bold">Email: test@kluniversity.in</span>
        </p>
        <p class="flex items-center mb-2">
          <!-- Phone Icon -->
          <i class="fas fa-phone mr-2"></i><span class="font-bold">Phone: +91 9492408318</span>
        </p>
        <p class="flex items-center mb-2">
          <!-- Location Icon -->
         <i class="fa-solid fa-location-pin mr-2"></i><span class="font-bold">Address: Vijayawada, Andhra Pradesh</span>
        </p>
    </div>
</div>
</div>
{% endblock %}
