{% block content %}
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    /*---------------------------------------
      Social section
    -----------------------------------------*/
    footer {
      padding: 2px ;
      background-color: #007bff; /* Blue background color */
      color: white; /* Text color */
      text-align: center;
      position: fixed;
    bottom: 0; /* Position the navbar at the bottom of the viewport */
    left: 0;
    right: 0;
    }

    p {
      text-align: center;
    }
  </style>
</head>
</html>
{% endblock %}
