 {% extends 'userhome.html'%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AstroPrediction</title>
</head>
<body>
{% block b1 %}
    <h2 align="center" style="color:blue">{{msg}}</h2><br>
    <div class="flex justify-center text-white">
        <form method="post" action="{% url 'submit_feedback'%}">
        {% csrf_token %}
        <div class=" max-w-screen-xl w-80 rounded-2xl bg-slate-900 text-white">
          <div class="flex flex-col my-2 gap-4 p-8">
            <p class="text-center text-3xl text-gray-300 mb-4">FeedBack</p>
            <input required name="name" class="bg-slate-900 w-full rounded-lg text-white border border-gray-300 px-4 py-3 focus:outline-none focus:ring-2 focus:ring-gray-700 focus:ring-offset-2 focus:ring-offset-gray-800" placeholder="Full Name">
            <input required type="email" name="email" class="bg-slate-900 w-full rounded-lg border border-gray-300 px-4 py-3 focus:outline-none focus:ring-2 focus:ring-gray-700 focus:ring-offset-2 focus:ring-offset-gray-800" placeholder="Email">
            <input required type="number" name="phoneno" class="bg-slate-900 w-full rounded-lg border border-gray-300 px-4 py-3 focus:outline-none focus:ring-2 focus:ring-gray-700 focus:ring-offset-2 focus:ring-offset-gray-800" placeholder="Phone Number">
            <input required type="text" name="feedback" autocomplete="off" class="text-white bg-slate-900 w-full rounded-lg border border-gray-300 px-4 py-3 focus:outline-none focus:ring-2 focus:ring-gray-700 focus:ring-offset-2 focus:ring-offset-gray-800" placeholder="Feedback">
               <label for="happy" class="flex items-center cursor-pointer">
                    <input type="checkbox" id="happy" name="happy" class="form-checkbox text-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
                    <span class="ml-2 text-lg text-gray-600">Happy</span>
                </label>
              <div class="flex mx-2 py-1 gap-11">
              <button type="submit" class="inline-block cursor-pointer rounded-md bg-gray-700 px-4 py-3.5 text-center text-sm font-semibold uppercase text-white transition duration-200 ease-in-out hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-gray-700 focus:ring-offset-2 active:scale-95">Register</button>
              <button type="reset" class="inline-block cursor-pointer rounded-md bg-gray-700 px-4 py-3.5 text-center text-sm font-semibold uppercase text-white transition duration-200 ease-in-out hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-gray-700 focus:ring-offset-2 active:scale-95">Clear</button>
            </div>
          </div>
        </div>
      </form>
    </div>
<script type="text/javascript">
    (function(d, m){
        var kommunicateSettings =
            {"appId":"2e0afda8a38c5260c6a45e7214c6e624f","popupWidget":true,"automaticChatOpenOnNavigation":true};
        var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
        s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
        var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
        window.kommunicate = m; m._globals = kommunicateSettings;
    })(document, window.kommunicate || {});
/* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
</script>
{% endblock %}
</body>
</html>