<nav class="bg-blue-600">
    <div class="container mx-auto flex justify-between items-center py-4">
        <a class=" mx-10 text-white text-lg font-bold" href="/">AstroPrediction</a>
        <div class="space-x-4 mx-10">
            <a class="text-white font-bold hover:bg-blue-800 px-2 py-4 rounded-xl transition duration-300 ease-in-out" href="/register">Register</a>
            <a class="text-white font-bold hover:bg-blue-800  px-4 py-4  rounded-xl transition duration-300 ease-in-out" href="/login">Login</a>
            <a class="text-white font-bold hover:bg-blue-800 px-2 py-4 rounded-xl transition duration-300 ease-in-out" href="/contact">Contact Us</a>
        </div>
    </div>
</nav>
