<nav class="bg-blue-600">
    <div class="container mx-auto flex justify-between items-center py-4">
        <a class="mx-10 text-white text-lg font-bold" href="/">AstroPrediction</a>
        <div class="hidden md:flex space-x-4">
            <a class="text-white font-bold hover:bg-blue-800 px-2 py-2 rounded-xl transition duration-300 ease-in-out" href="/register">Register</a>
            <a class="text-white font-bold hover:bg-blue-800 px-4 py-2 rounded-xl transition duration-300 ease-in-out" href="/login">Login</a>
            <a class="text-white font-bold hover:bg-blue-800 px-2 py-2 rounded-xl transition duration-300 ease-in-out" href="/contact">Contact Us</a>
        </div>

        <div class="md:hidden">
            <button id="menu-toggle" class="text-white focus:outline-none">
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button>
        </div>
    </div>
    <!-- Responsive menu for smaller screens -->
    <div id="mobile-menu" class="md:hidden hidden bg-blue-600">
        <a class="block text-white font-bold my-2 py-3 px-4 hover:bg-blue-800" href="/register">Register</a>
        <a class="block text-white font-bold my-2 py-3 px-4 hover:bg-blue-800" href="/login">Login</a>
        <a class="block text-white font-bold  my-2 py-3 px-4 hover:bg-blue-800" href="/contact">Contact Us</a>
    </div>
</nav>

<script>
    // JavaScript to toggle the mobile menu
    const menuToggle = document.getElementById('menu-toggle');
    const mobileMenu = document.getElementById('mobile-menu');

    menuToggle.addEventListener('click', () => {
        mobileMenu.classList.toggle('hidden');
    });
</script>
