{% extends 'userhome.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AstroPrediction</title>
</head>
<body>
    {% block b1 %}
        <h2 class="text-white py-4 flex justify-end mx-4 text-xl">Welcome, {{uname}}</h2>
        <div class="card text-white">
            <h2 align="center" style="color:#333">{{message}}</h2>
            <br>
            <div class="flex justify-center">
                <form method="post" action="{% url 'userupdatepwd' %}">
                    {% csrf_token %}
                    <div class="max-w-screen-xl w-80 rounded-2xl bg-slate-900 text-white">
                        <p class="text-center text-xl text-gray-300 pt-4 py-2">Change Password</p>
                        <div class="flex flex-col my-2 gap-4 p-8">
                            <div class="relative">
                                <input required type="password" name="opwd" autocomplete="off" id="oldPasswordInput" class="text-white bg-slate-900 w-full rounded-lg border border-gray-300 px-4 py-3 focus:outline-none focus:ring-2 focus:ring-gray-700 focus:ring-offset-2 focus:ring-offset-gray-800" placeholder=" Old Password">
                                <span class="absolute right-4 top-3 cursor-pointer" onclick="togglePasswordVisibility('oldPasswordInput')">👁️</span>
                            </div>
                            <div class="relative">
                                <input required type="password" name="npwd" autocomplete="off" id="newPasswordInput" class="text-white bg-slate-900 w-full rounded-lg border border-gray-300 px-4 py-3 focus:outline-none focus:ring-2 focus:ring-gray-700 focus:ring-offset-2 focus:ring-offset-gray-800" placeholder=" New Password">
                                <span class="absolute right-4 top-3 cursor-pointer" onclick="togglePasswordVisibility('newPasswordInput')">👁️</span>
                            </div>
                            <div class="flex mx-6 py-1 gap-11">
                                <button type="submit" class="inline-block cursor-pointer rounded-md bg-gray-700 px-4 py-3.5 text-center text-sm font-semibold uppercase text-white transition duration-200 ease-in-out hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-gray-700 focus:ring-offset-2 active:scale-95">Update</button>
                                <button type="reset" class="inline-block cursor-pointer rounded-md bg-gray-700 px-4 py-3.5 text-center text-sm font-semibold uppercase text-white transition duration-200 ease-in-out hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-gray-700 focus:ring-offset-2 active:scale-95">Clear</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script>
            function togglePasswordVisibility(inputId) {
                var passwordInput = $("#" + inputId);
                passwordInput.attr("type") === "password" ? passwordInput.attr("type", "text") : passwordInput.attr("type", "password");
            }
        </script>
    {% endblock %}
</body>
</html>
