{% extends 'adminhome.html'%}

{% block 'body'%}
<style>
    .flex-container {
            display: flex;
            justify-content: space-between;
        }

        .flex-item {
            flex: 1;
        }
     h2 ,h4{
          color :white;
     }

    table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 40%;
}

td, th {
  border: 2px solid #5499C7;
  text-align: left;
  padding: 8px;
}
</style>
<h2 class="text-2xl py-4" align="center"><b>View Donations</b></h2>
<div class="flex-container" >
        <div class="flex-item mx-12" align="left">
            <h4>Donations count: {{ count }}</h4>
        </div>
        <div class="flex-item mx-12" align="right">
            <h4>Total Amount: $  {{ total_amount }}</h4>
        </div>
    </div>
<br>
  <input required type="text" name="username" autocomplete="off" class=  "form-control text-white bg-slate-900 w-72 mx-12 rounded-lg border border-gray-300 px-4 py-2 focus:outline-none focus:ring-2 focus:ring-gray-700 focus:ring-offset-2 focus:ring-offset-gray-800" placeholder="Search  Name" id="myInput" >
    <br/><br/><br/>
    <table class="table table-bordered table-striped" align="center" width="100%">
        <thead>
            <tr bgcolor="lightgrey" align="center">
                <td>#</td>
                <td>Name</td>
                <td>Amount</td>
                <td>Transaction Id</td>
            </tr>
        </thead>

        <tbody id="myTable" >
            {% for i in payments %}
                <tr align="center" bgcolor="lightgrey">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ i.name }}</td>
                    <td>{{ i.amount}}</td>
                    <td>{{i.orderid}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });
        });
    </script>
{% endblock %}
